@import url('https: //fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #f1f2f6;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.container {
  margin: auto;
  width: 100%;
}
button {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #34ace0;
  border: none;
  border-radius: 5px;
  color: white;
}
@media screen and (min-width: 576px) {
  .container {
    width: 576px;
  }
}
@media screen and (min-width: 818px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1042px) {
  .container {
    width: 992px;
  }
}
@media screen and (min-width: 1250px) {
  .container {
    width: 1200px;
  }
}
