@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,500&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
} 
svg {
  margin: 0 auto 10px;
  display: block;
}
.links line {
  stroke: #d1d8e0;
  stroke-opacity: 0.6;
}

.tooltip {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background-color: #a5b1c2;
  border: 5px solid #4b6584;
  border-radius: 5px;
  padding: 15px;
}

.tooltip p {
  margin: 0 0 5px;
  padding: 0;
  text-align: center;
}

.tooltip ol {
  margin: 0;
  padding: 0 15px;
}

#checkboxes {
  display: inline-block;
  vertical-align: top;
}