.header {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  color: #ffffff;
  background-color: #353b48;
  margin-bottom: 20px;
}

.header__nav {
  display: flex;
  width: 25vw;
  justify-content: space-between;
  list-style-type: none;
}
