.recipe {
  -moz-border-radius: 10px;
  -moz-box-shadow: 0px 32px 61px -35px rgba(0, 0, 0, 0.27);
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 32px 61px -35px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  box-shadow: 0px 32px 61px -35px rgba(0, 0, 0, 0.27);

  &__description {
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    width: 100%;
  }
  &__image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 360px;
    object-fit: cover;
    object-position: center bottom;
    width: 100%;
  }
  &__button-delete {
    color: #e84118;
  }
}
